# ── Base de datos ─────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/share_notes
MONGO_URI_TEST=mongodb://localhost:27017/share_notes_test

# ── JWT ───────────────────────────────────────────────────────────
JWT_SECRET=tu_secreto_super_seguro_cambiame_en_produccion
JWT_EXPIRES_IN=7d

# ── Servidor ──────────────────────────────────────────────────────
PORT=4000
NODE_ENV=development

# ── Frontend (CORS) ───────────────────────────────────────────────
CLIENT_URL=http://localhost:5173
